@charset "utf-8";


*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background-color: #02A7A5;
    color: white;
    text-align: center;
    padding: 30px;
}

nav.menu{
    display: flex;
}

nav.menu a{
    text-decoration: none;
    color: white;
}

main h2{
    padding: 10px;
    color: #095256;
}

form {
  background: white;
  border-radius: 12px;
  padding: 32px;
  margin: 48px auto;
  max-width: 600px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

fieldset {
  border: 2px solid #2e8b57;
  border-radius: 10px;
  padding: 24px;
}

legend {
  padding: 0 10px;
  color: #2e8b57;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: 500;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-bottom: 16px;
  font-size: 1rem;
}

input:focus, select:focus, textarea:focus {
  border-color: #2e8b57;
  box-shadow: 0 0 6px rgba(46, 139, 87, 0.3);
  outline: none;
}

input:valid {
  border-color: #2ecc71;
}
input:invalid {
  border-color: #e74c3c;
}

button.btn{
    background-color: rgb(5, 236, 5);
    padding: 10px;
    border-radius: 8px;
}

picture img{
    padding: 20px;
    border-radius: 50%;
}