@charset "utf-8";


*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #dedcdc;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.125rem;
    padding: 0;
    margin: 0;
}

header{
    background-color: #02A7A5;
    padding: 20px;
    text-align: center;
}

header  p{
    display: flex;
    justify-content: flex-start;
}

header p a{
    text-decoration: none;
    font-weight: bolder;
    color: #fff;
}

main{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 48px;
    gap: 32px;
    align-items: start;
}

picture img{
    justify-self: center;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.contato-form {
  background: #fff;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  max-width: 500px;
  margin: 40px auto;
}

.contato-form form {
  display: flex;
  flex-direction: column;
}

.contato-form label {
  margin-top: 10px;
  font-weight: bold;
  color: #333;
}

.contato-form input,
.contato-form textarea {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
  font-size: 15px;
}

.contato-form button {
  margin-top: 20px;
  background: #27ae60;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px;
  font-weight: bold;
  cursor: pointer;
  transition: bacground 0.3s;
}

.contato-form button:hover {
  background: #219150;
}

footer {
  background-color: #02A7A5;
  text-align: center;
  padding: 32px;
}

footer p{
    font-size: 1.5rem;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li a {
    color: #333;
    font-size: 1.5rem;
    text-decoration: none;
}


/* Grandes telas*/
@media (min-width: 1024px){
    main{
        grid-template-rows: 50px 1fr ;
        grid-template-columns: 1fr 1fr;
    }
    main h1{
        grid-column: span 2;
    }
}

/* Tablets (até 768px) */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    padding: 24px;
  }

  main h1 {
    font-size: 1.5rem;
  }

  img {
    max-width: 100%;
  }
}

/* Celulares (até 480px) */
@media (max-width: 480px) {
  header h1 {
    font-size: 1.5rem;
  }

  main {
    gap: 16px;
  }

  footer {
    font-size: 0.875rem;
  }
}