@charset "utf-8";

:root{
    --cor-primaria: #02A7A5;
   --cor-secundaria: #f5f5f5;
   --cor-fundo: #dedcdc;
   --cor-h3: #05777d;
   --cor-texto: #1D1C22;
   --cor-link-texto: #3d8977;
   --cor-link-invertido: #104e8b;
   --cor-botao: #2416E6;
}

*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

header{
    background-color: var(--cor-primaria);
    color: white;
    padding: 30px;
    text-align: center;
}
header h1 {
    font-size: 1.8em;
    margin-bottom: 10px;
}
header p{
    display: flex;
    justify-content: flex-start;
}
header p a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

main{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    gap: 20px;
    align-items: start;
    padding: 10px;
    margin: 10px;
}
main p{
    background-color: white;
    border-radius: 8px;
    padding: 5px;
}
main picture img{
     justify-self: center;
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

.cards-projetos{
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.card{
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 4px 100px rgba(0, 0, 0, 0.1);
    transition: transform .3s, box-shadow .3s;
}

.card:hover{
    transform: translateY(-6px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}
.card h3{
    color: var(--cor-h3);
    margin-bottom: 10px;
}
.card p{
    margin-bottom: 12px;
    font-size: 0.95rem;
}

.btn{
    background-color: var(--cor-link-texto);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: background .3s, transform .1s;
}
.btn:hover{
    background-color: var(--cor-link-invertido);
}
.btn:focus{
    outline: 3px solid #7fe3a2;
}

ul a {
    text-decoration: none;
    color: var(--cor-texto);
}