@charset "utf-8";

/* Variaveis */

:root {
    /* tipografia hierárquia */
  --font-size-xxl: 2.5rem;  /* títulos principais */
  --font-size-xl: 2rem;     /* subtítulos */
  --font-size-lg: 1.5rem;   /* seções */
  --font-size-md: 1.125rem; /* texto padrão */
  --font-size-sm: 0.875rem; /* detalhes e rodapé */

   /* sistema de espaçamento mudular */
   --space-1: 8px;
  --space-2: 16px;
  --space-3: 24px;
  --space-4: 32px;
  --space-5: 48px;
  --space-6: 64px;

   /* paletas de cores */
   --cor-primaria: #02A7A5;
   --cor-secundaria: #f5f5f5;
   --cor-fundo: #dedcdc;
   --cor-h1: #095256;
   --cor-texto: #1D1C22;
   --cor-link-texto: #3d8977;
   --cor-link-invertido: #104e8b;
   --cor-botao: #2416E6;
}

/* Estilos gerais */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: var(--font-size-md);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header{
    position: relative;
    background-color: var(--cor-primaria);
    color: aliceblue;
    text-align: center;
    padding: var(--space-2);
}

header h1 {
    margin: 0;
    font-size: var( --font-size-xxl);
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-4);
    padding: var(--space-5);
    align-items: start;
}

main h1{
    font-size: var(--font-size-xl);
    color: var(--cor-h1);
    grid-column: span 2;
}

main p {
    grid-column: span 2;
    font-size: var(--font-size-md);
}

picture img {
    justify-self: center;
    width: 100%;
    max-width: 400px;
    border-radius: var(--space-1);
}

section {
    background-color: var(--cor-secundaria);
    grid-column: span 2;
    padding: var(--space-3);
    border-radius: var(--space-1);
}

section h2 {
    font-size: var(--font-size-lg);
    color: var(--cor-h1);
}
section ul {
    list-style: none;
    padding: 0;
}
section li {
    margin-bottom: var(--space-2);
}
section a {
    text-decoration: none;
    color: var(--cor-link-texto);
    font-weight: bold;
    transition: color 0.3s;
}

section a:hover {
  color: var(--cor-link-invertido);
}

section a:hover::after {
  content: " ← Clique para acessar";
  font-size: var(--font-size-sm);
  color: #666;
}

footer {
  background-color: var(--cor-primaria);
  text-align: center;
  padding: var(--space-4);
}

footer h2 {
  font-size: var(--font-size-lg);
}

footer ul {
  list-style: none;
  padding: 0;
}

footer li a {
    text-decoration: none;
  margin-bottom: var(--space-1);
}


/* Tablets (até 768px) */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    padding: var(--space-3);
  }

  main h1 {
    font-size: var(--font-size-lg);
  }

  img {
    max-width: 100%;
  }
}

/* Celulares (até 480px) */
@media (max-width: 480px) {
  header h1 {
    font-size: var(--font-size-lg);
  }

  main {
    gap: var(--space-2);
  }

  footer {
    font-size: var(--font-size-sm);
  }
}
